@import url(Cesium/Widgets/widgets.css);
@import url(Cesium/Widgets/lighter.css);

html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background-color: #000;
}

#label {
  display: block;
  position: absolute;
  top: 1%;
  left: 1%;
  border: 1px solid white;
  background-color: white;
  opacity: 0.8;
  font-family: sans-serif;
  padding: 4px;
  border-radius: 5px;
  max-width: 50%;
}

.credit {
  font-size: 70%;
}

.loadingIndicator {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Images/ajax-loader.gif);
}

.lbox {
  float: left;
  width: 14px;
  height: 14px;
  margin: 1px;
}

.blue {
  background: #0070ff;
}

.green {
  background: #0D6101;
}

.yellow {
  background: #FFFF0B;
}

.lgreen {
  background: #8CC58A;
}
